---
import Layout from '../layouts/Layout.astro';
import AboutMe from '../components/AboutMe.astro';
import Tecno from "../components/Tecno.astro"

import gifComputer from "../images/computer1.gif";
import me from "../images/me.gif"
import staticDiscord from "../images/staticdiscordspinner.png"
import gifDiscord from "../images/discordspinner.gif"

import Curriculum from "../documents/ValentinaCastillo.pdf"
---

<Layout title="valnhe">
	<div id="app">
			<AboutMe/>
		<section class="md:[grid-area:picture] bg-bkg rounded-3xl hidden md:block overflow-hidden shadow-md aspect-square relative">
			<img src={me.src} alt="Computer Gif" class="object-cover object-center h-full w-full blur-[1px]">
			<p class="z-10 p-4 text-white absolute bottom-3 left-3">Foto provisional 💀</p>
		</section>
		<Tecno/>
		<a href={Curriculum} download="ValentinaCastillo.pdf" class="[grid-area:cv] bg-tertiary rounded-3xl p-8 shadow-md flex flex-wrap justify-center content-center cursor-pointer transition-all ease-in-out delay-100 hover:scale-95 duration-500">
			<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-download inline" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
				<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
				<path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" />
				<path d="M7 11l5 5l5 -5" />
				<path d="M12 4l0 12" />
			  </svg>
			  <p class="text-white ml-2 self-center hidden md:block">Mi Currículum</p>
			  <p class="text-white ml-2 self-center block md:hidden">Mi CV</p>
			  
		</a>
		<section class="[grid-area:theme] bg-primary rounded-3xl p-8 shadow-md">
			pa cambiar color
		</section>
		<a href="/projects" class="[grid-area:project] bg-bkg rounded-3xl shadow-md relative overflow-hidden transition-all ease-in-out delay-100 hover:scale-95 duration-500">
			<img src={gifComputer.src} alt="Computer Gif" class="object-cover object-center h-full w-full blur-[1px] z-0 absolute">
			<div class="z-10 relative p-4 text-white">
				<svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="text-xl opacity-90 transition duration-500 group-hover:opacity-100 absolute bottom-4 right-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><line x1="7" y1="17" x2="17" y2="7"></line><polyline points="7 7 17 7 17 17"></polyline></svg>
				<h3 class="mt-[138px] text-xl font-semibold">Proyectos</h3>
				<p>Ve los proyectos que he realizado ❤️ </p>
			</div>
		</a>
		<section class="[grid-area:hour] bg-primary rounded-3xl p-8">
			la hora pq si lol
		</section>
		<section class="[grid-area:discord] bg-tertiary xl:aspect-square rounded-3xl relative overflow-hidden group">
			
			<img src={staticDiscord.src} alt="Static Discord" class="object-contain object-center h-full w-full z-0 absolute opacity-100 group-hover:hidden">
			<img src={gifDiscord.src} alt="Static Discord" class="object-contain object-center h-full w-full z-0 absolute opacity-0 group-hover:opacity-100">
			
			<p class="text-white absolute bottom-10 left-1/2 transform -translate-x-1/2">@valnhe</p>
		</section>
		<footer class="[grid-area:email] bg-secundary rounded-3xl p-8 shadow-md">
			email aca
		</footer>
	</div>
</Layout>
